{% extends "base.html" %}

{% block title %}Netflix{% endblock title %}

{% block css_files %}
{% endblock css_files %}

{% block content %}
    <header>
        <div class="header-top">
            <img src="" alt="">
            <button>Přihlásit se</button>
        </div>

        <div class="header-textbox">
            <h1>Neomezené sledování filmů, tv pořadů a dalšího obsahu</h1>
            <p>Už od 239 Kč. Zruště kdykoli.</p>
            <p>Jste připraveni se dívat? Pro vytvoření nebo obnovení členství zadejte e-mail.</p>
            <form>
                <input type="email" placeholder='E-mailová adresa'>
                <button>Začít</button>
            </form>
        </div>

    </header>
   
{% endblock content %}
