/*************
    Header
*************/    
header {
    min-height: 100vh;
    background: linear-gradient(black, rgba(0, 0, 0, 0.608)), 
                url(images/background.jpg);
    padding: 0px 150px;
}

/* header top part */

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.header-top img {
    width: 150px;
}

.header-top button {
    /* background-color: #e50914; */
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;  
    transition: 0.5s;
}

.header-top button:hover {
    background-color: #b41820;
}

/* header textbox part */

.header-textbox {
    height: 80vh;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}