{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "movies/all-movies.css" %}">    
{% endblock css_files %}

{% block content %}
    <ul>
        {% for one_movie in all_movies %}
            <a href="{% url "movie-detail-page" one_movie.slug %}">
                <img src="{% static "movies/images/"|add:one_movie.image %}" alt="">
            </a>
        {% endfor %}
    </ul>
{% endblock content %}