{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "movies/movie-detail.css" %}">
{% endblock css_files %}

{% block content %}
    <main>
        <section class="one-movie-box">
            <div class="one-movie">
                <a href="{% url "all-movies-page" %}">Zpět na všechny filmy</a>
                <img src="{% static "movies/images/"|add:visited_movie.image %}" alt="">
                <h1>{{ visited_movie.title }}</h1>
                <p>{{ visited_movie.author }}</p>
                <p>{{ visited_movie.content }}</p>
                <p>{{ visited_movie.data }}</p>
            </div>
        </section>
    </main>

{% endblock content %}