{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "movies/movie.css" %}">
{% endblock %}


{% block page_title %}
    Film
{% endblock %}

{% block content %}
    {% include "./includes/header.html" %}

    <h1>Super film pro tento týden</h1>
    <p>{{ movie_name|title }}</p>

    {% if movie_description is not None %}
        <p>{{ movie_description }}</p>
    {% else %}
        <p>Popis filmu není k dispozici.</p>
    {% endif %}
{% endblock %}

    
