* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at top, #001f3f, #000000 70%); 
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
}

header ul a {
    text-decoration: none;
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 25px;
    border-radius: 5px;
    transition: .3s;
}

header ul a:hover {
    background-color: #b41820;
}
